{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"@babel/plugin-transform-react-jsx",
			{
				"runtime": "automatic"
			}
		],
		[
			"styled-components",
			{
				"ssr": true
			}
		]
	],
	"ignore": [
		"node_modules/**"
	]
}